body {
  background-color: darkslateblue;
  font-family:'Dosis' 
}

button {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#next {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#random_name_textarea {
  text-align: center;
  padding-bottom: 20px;
}

alert {
  padding: 15px;
  border: 1px solid #d6e9c6;
  border-radius: 4px;
  color: #3c763d;
  background-color: #dff0d8;
}